[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
openai = "*"
pip = "*"
requests = "*"
safetensors = "*"
tabulate = "*"
matplotlib = "*"
pandas = "*"
plotly = "*"
scikit-learn = "*"
scipy = "*"
tenacity = "*"

[dev-packages]

[requires]
python_version = "3.11"
